@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&display=swap");

.font-manrope {
  font-family: "Manrope", sans-serif;
}

select {
  -webkit-appearance: listbox !important;
}

.align-center {
  align-items: center;
}

.bg-red {
  background: #be1f1f;
}

.bg-green {
  background: #248a28;
}

body {
  background-color: white;
}

.bg-blue {
  --tw-bg-opacity: 1;
  background-color: #1562d9;
}

.bg-blue-2 {
  --tw-bg-opacity: 1;
  background: #5390eb;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
}

.bg-blue-3 {
  --tw-bg-opacity: 1;
  background-color: #84b6ff;
}

.bg-blue-4 {
  background-color: #003fa0;
}

.border-black {
  --tw-border-opacity: 80;
  border: 1px solid rgba(0, 0, 0, var(--tw-border-opacity));
}

.cursor-default {
  cursor: default;
}

.text-xxs {
  font-size: 0.6rem;
  line-height: 1rem;
}

.text-blue {
  color: #0f61de;
}

.text-blue-2 {
  color: #003c97;
}

.text-blue-3 {
  color: #1791cd;
}

.w-1 {
  width: 100px;
}

.md\:mr-15 {
  margin-right: 2rem;
}

.md\:ml-55 {
  margin-left: 18rem;
}

.md\:pt-16 {
  padding-top: 4rem;
}

.md\:w-44 {
  width: 11rem;
}

.md\:w-46 {
  width: 16rem;
}

.border-blue {
  border: 1px solid #095dde;
}

.float-right {
  float: right;
}

.ml-4 {
  margin-left: 1rem;
}

.opacity-25 {
  opacity: 0.25;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.text-grey {
  /* --tw-text-opacity: 1; */
  color: #707070;
}

.text-grey-2 {
  color: rgba(0, 0, 0, 0.5);
}

.w {
  width: 35px;
}

.inset-0 {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  /* background: #FAFAFA */
}

.grid {
  display: grid;
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.hover\:addDokumen:hover {
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  background-color: #5275c1;
  color: white;
}

.border-3 {
  border-width: 3px;
}

.max-h-20 {
  max-height: 20rem;
}

.text-8xl {
  font-size: 9rem;
  line-height: 1;
}

.list-decimal-ket li {
  display: list-item;
  list-style-type: decimal;
  list-style-position: inside;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.justify-evenly {
  justify-content: space-evenly;
}

.content-center {
  align-content: center;
}

.w-96 {
  width: 24rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.spinner {
  display: block;
  margin: 0 auto;
  height: 6em;
  width: 6em;
  border: 6px solid rgba(0, 174, 239, 0.2);
  border-top-color: rgba(0, 174, 239, 0.8);
  border-radius: 50%;
  animation: rotation 0.6s infinite linear;
  z-index: 100;
  position: absolute;
  left: 46%;
  top: 50%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.lg\:w-5\/12 {
  width: 42%;
}

.w-7\/12 {
  width: 79%;
}

.w-9\/12 {
  width: 75%;
}

.w-8\/12 {
  width: 66.666667%;
}

.text-justify {
  text-align: justify;
}

.px-20 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.sidebar {
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(
    180deg,
    #3787ff 0%,
    rgba(72, 127, 210, 0) 42.71%,
    rgba(0, 77, 194, 0.101817) 64.06%,
    rgba(0, 98, 245, 0.130208) 64.07%
  );
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 25px 25px 0px;
}

.z-50 {
  z-index: 50;
}
.italic {
  font-style: italic;
}

.lds-ellipsis {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  padding: 0;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #5275c1;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.text-yellow {
  color: #ffc300;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.text-green {
  color: #05a651;
}

input[type="checkbox"] {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.border-green {
  border-color: #0fee0fcc;
}

.sidebar-icon {
  width: 15px;
  height: 15px;
  align-self: center;
}

.filter-icon {
  filter: invert(16%) sepia(95%) saturate(7343%) hue-rotate(212deg)
    brightness(103%) contrast(95%);
}

.filter-icon-2 {
  filter: brightness(0) invert(1);
}

.sidebar-font {
  font-size: 14px;
  font-weight: 600;
}

.sidebar-line {
  width: 95%;
  background: #eeeeee;
}

.sidebar-line2 {
  width: 100%;
  background: #eeeeee;
}

.topup-line {
  background: #eeeeee;
  height: 5px;
}

.total-line {
  background: #eeeeee;
  height: 2px;
}

.sidebar-line {
  width: 95%;
  background: #eeeeee;
  height: 2px;
}

.sidebar-line2 {
  width: 100%;
  background: #eeeeee;
  height: 3px;
}

.text-brown {
  color: #950000;
}

.package-tooltip {
  background: rgba(82, 117, 193, 0.12);
  padding: 1px 6px;
}

.font-700 {
  font-weight: 700;
}

.font-600 {
  font-weight: 600;
}

.pl-6 {
  padding-left: 1.5rem;
}

.pl-7 {
  padding-left: 1.75rem;
}

.pl-8 {
  padding-left: 2rem;
}

.sidebar-bg {
  /* background:  #F5F5F5; */
  z-index: 10;
}

.sidebar-active {
  background-color: #3c89ff;
}

.avatar {
  width: 230px;
}

.user-info {
  box-shadow: 0px 3px 6px #00000029;
}

.history-shadow {
  box-shadow: 0px 3px 6px #00000029;
}

.w-user {
  width: 75%;
}

.text-bold {
  font-weight: 600;
}

.text-bold-700 {
  font-weight: 700;
}

.text-bold-800 {
  font-weight: 800;
}

.bg-lengkapidiri {
  background: #cbcbcb 0% 0% no-repeat padding-box;
  opacity: 0.38;
}

.mx-36 {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.m-14 {
  margin: 3.5rem;
}

.mx-32 {
  margin-left: 8rem;
  margin-right: 8rem;
}

.mx-31 {
  margin-left: 7rem;
  margin-right: 7rem;
}

.pb-14 {
  padding-bottom: 3.5rem;
}

.m-10 {
  margin: 2.5rem;
}

.doc-box {
  box-shadow: 0px 3px 6px #00000029;
  border: 1px rgb(224, 224, 224) solid;
  border-radius: 8px;
  opacity: 1;
}

.checkout-box {
  box-shadow: 0px 1px 2px #00000029;
  border: 1px rgb(224, 224, 224) solid;
  border-radius: 5px;
  opacity: 1;
}

.doc-box-active {
  background: #4abc96 0% 0% no-repeat padding-box;
  border: 2px solid #4abc96;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  color: white;
}

.duration-300 {
  transition-duration: 200ms;
}

.mb--1 {
  margin-bottom: 0.2rem;
}

.text-green2 {
  color: #4abc96;
}

.md\:ml-30 {
  margin-left: 9.3rem;
}

.sidebar-transition {
  transition: 0.5s;
}

.ml-8 {
  margin-left: 2rem;
}

.ml-10 {
  margin-left: 2.5rem;
}

.pb-14 {
  padding-bottom: 3.5rem;
}

.doc-baru {
  background-color: #fd625e;
}

.doc-tertunda {
  background-color: #ffbf53;
}

.doc-setuju {
  background-color: #2ab57d;
}

.text-red {
  color: #cd0000;
}

.text-orange {
  color: #fa6b01;
}

.text-purple {
  color: #7630ea;
}

.text-red-300 {
  --tw-text-opacity: 1;
  color: rgba(252, 165, 165, var(--tw-text-opacity));
}

.text-yellow-200 {
  --tw-text-opacity: 1;
  color: rgba(253, 230, 138, var(--tw-text-opacity));
}

.text-green-200 {
  --tw-text-opacity: 1;
  color: rgba(167, 243, 208, var(--tw-text-opacity));
}

.count-ppat {
  background-color: #74788d;
}

.count-ppat-2 {
  color: #a1a6bb;
}

.count-user {
  background-color: #4ba6ef;
}

.count-user-2 {
  color: #87c6fa;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.col-span-3 {
  grid-column: span 3 / span 3;
}

.row-span-3 {
  grid-row: span 3 / span 3;
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.top-ppat {
  border: 1px rgb(224, 224, 224) solid;
}

.ppat-1 {
  text-align: end;
}

.bg-purple {
  background-color: #5156be;
}

.row-span-6 {
  grid-row: span 6 / span 6;
}

.bg-darkgray-3 {
  background-color: #525659;
}

.overflow-x-auto {
  overflow-x: auto;
}

.search-nik {
  color: white;
  padding: 10px 14px 11px 14px;
  margin-left: 7px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.px-24 {
  padding-left: 6rem;
  padding-right: 6rem;
}

.mt-9 {
  margin-top: 2.25rem;
}

.text-blue-600 {
  color: #ccdeec;
}

.text-semiblack {
  color: #b6b8c0;
}

.bank-icon {
  display: inline;
  width: 55px;
}

.bank-icon-2 {
  width: 60px;
}

.bank-icon-3 {
  display: inline;
  width: 35px;
  padding: 0 4px;
}

.bank-icon-4 {
  width: 25px;
  padding: 0 4px;
}

.bank-icon-5 {
  width: 35px;
  height: 15px;
  padding: 0 2px;
}

.barcode {
  width: 60%;
  margin: 0 auto;
}

.modal::-webkit-scrollbar {
  display: none;
}

.select-all {
  user-select: all;
}

.max-w-500-px {
  max-width: 500px;
}

.border-gray-400 {
  --tw-border-opacity: 1;
  border-color: rgba(156, 163, 175, var(--tw-border-opacity));
}

.border-1 {
  border-width: 1px;
}

.mr-6 {
  margin-right: 1.5rem;
}

.mr-13 {
  margin-right: 5rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.justify-self-end {
  justify-self: end;
}

.w-10\/12 {
  width: 83.333333%;
}

.md\:w-45 {
  width: 14rem;
}

.md\:w-50 {
  width: 18rem;
}

.lg\:w-7\/12 {
  width: 58.333333%;
}

.call-mobile {
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.btn-green {
  background-color: #05a651;
}

.btn-ttd {
  background-color: #5275c1;
  border-radius: 5px;
  border: 2px solid black;
  border-bottom: 6px solid black;
  color: white;
  padding: 4% 13%;
  font-weight: bold;
  font-size: 20px;
  margin: 40px 20px;
}

.login-form {
  background: #d9e7fd !important;
  border-radius: 10px !important;
  border: 0.7px solid #0057dc;
}

.login-form2 {
  background: #ffffff !important;
  border: 1px solid rgba(0, 0, 0, 0.12) !important;
  border-radius: 5px !important;
}

.login-form-3 {
  background: #d9e7fd !important;
  /* border: 1px solid rgba(0, 0, 0, 0.12) !important; */
  border-radius: 15px !important;
  border: none;
}

::-webkit-input-placeholder,
:-moz-placeholder,
:-ms-input-placeholder,
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.16);
  opacity: 2; /* Firefox */
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7;
}

.App {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  align-items: center;
  height: 90vh;
}

.heading {
  text-align: center;
  align-self: flex-start;
  margin-bottom: 0;
}

#videos {
  position: relative;
  height: 65vh;
  width: 15vw;
  margin: auto;
  align-self: flex-start;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  justify-items: center;
}
/* 
video {
  width: 80% !important;
} */

.vid {
  position: relative;
  height: 100%;
  width: 100%;
}

.controls {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  margin: -20px auto;
  display: flex;
  align-items: center;
  justify-items: center;
  z-index: 1;
  width: 100%;
  max-width: 60vw;
}

.controls p {
  padding: 10px;
  cursor: pointer;
  background: #38373a;
  color: #f7f7f7;
  border-width: 1px;
  border-color: #f7f7f7;
  border-style: solid;
}

.controls p.on {
  background: #f7f7f7;
  color: #38373a;
  border-width: 1px;
  border-color: #38373a;
  border-style: solid;
}

.join {
  position: absolute;
  z-index: 1;
  width: 30vw;
  height: fit-content;
  height: -moz-max-content;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 500px;
  max-width: 75vw;
}

.join input {
  padding: 15px;
  font-size: 1rem;
  border-width: 1px;
  border-color: #38373a;
  border-style: solid;
  width: 80%;
  display: block;
  margin: 50px auto;
}

.join button {
  min-width: 200px;
  padding: 12px 0;
  text-align: center;
  background-color: #38373a;
  color: #f7f7f7;
  border-width: 1px;
  border-color: #f7f7f7;
  border-style: solid;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.text-black-2 {
  color: #333333;
}

.card-shadow {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.06);
}

.py-24 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.add-quota:disabled .fa {
  color: rgba(0, 0, 0, 0.25);
  border-color: rgba(0, 0, 0, 0.25);
}

.border-b-1 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

.border-b-0 {
  border-bottom-width: 0px;
}

.sidebar-scroll {
  overflow-y: scroll;
}

.sidebar-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sidebar-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.left-320-px {
  left: 320px;
}

.pending-label {
  background: #c99f08;
  border-radius: 15px;
  padding: 2px 0;
}

.failed-label {
  background: #be1f1f;
  border-radius: 15px;
  padding: 2px 0;
}

.success-label {
  background: #248a28;
  border-radius: 15px;
  padding: 2px 0;
}

.p-10 {
  padding: 3rem;
}

.p-12 {
  padding: 4rem;
}

.p-14 {
  padding: 7rem;
}

.informasi-btn {
  -webkit-filter: invert(22%) sepia(74%) saturate(3460%) hue-rotate(187deg)
    brightness(93%) contrast(89%);
  filter: brightness(0) invert(1);
  filter: invert(47%) sepia(82%) saturate(3224%) hue-rotate(173deg)
    brightness(94%) contrast(82%);
}

.upload-layanan {
  background: rgba(23, 145, 205, 0.03);
  border: 2px dashed #1791cd;
  border-radius: 10px;
}

.sidebar-color {
  -webkit-filter: invert(17%) sepia(55%) saturate(2390%) hue-rotate(182deg)
    brightness(91%) contrast(104%);
  filter: invert(17%) sepia(55%) saturate(2390%) hue-rotate(182deg)
    brightness(91%) contrast(104%);
}

.upper-canvas {
  width: fit-content !important;
}

.lanjutkan-form:disabled {
  color: white;
  background-color: #707070;
  cursor: not-allowed;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

.paginationItems {
  width: 1%;
  padding: 2px 0;
  color: white;
  text-align: center;
  margin: 0 5px;
  font-size: 15px;
  align-self: center;
  font-weight: bold;
}

.paginationBtn {
  width: 1%;
  text-align: -webkit-center;
}

.next-disabled {
  filter: invert(95%) sepia(8%) saturate(600%) hue-rotate(178deg)
    brightness(87%) contrast(89%);
  -webkit-filter: invert(95%) sepia(8%) saturate(600%) hue-rotate(178deg)
    brightness(87%) contrast(89%);
}

.paginationActive {
  width: 1%;
  padding: 3px 0;
  color: black;
}

.paginationInactive {
  color: #888686;
  cursor: pointer;
}

.nilai-tanah {
  width: 40%;
}

.w-48 .react-pdf__Page,
.w-48 img {
  filter: brightness(0.7);
}

.login-bg {
  background: linear-gradient(
    117.08deg,
    #0063fa 0%,
    rgba(191, 216, 255, 0.901611) 52.97%,
    rgba(255, 255, 255, 0.861097) 74.77%
  );
}

.kuota-bg {
  background: linear-gradient(
    180deg,
    #0057dc 0%,
    rgba(77, 143, 243, 0.708333) 67.71%,
    rgba(64, 139, 255, 0) 100%
  );
  filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.25));
}

.card-icon {
  background: #a6c5f4;
  border-radius: 50%;
}

.add-team-modal {
  background: #84b6ff;
  border: 1px solid #0f61de;
  box-shadow: 0px 6px 4px rgba(0, 87, 220, 0.53);
  border-radius: 25px;
}

.updateApprovalModal {
  background: #f7f8ff;
  border: 1px solid #0f61de;
  box-shadow: 0px 6px 4px rgba(0, 87, 220, 0.53);
  border-radius: 25px;
}

.landing-bg {
  background: linear-gradient(
    180deg,
    #0057dc 0%,
    rgba(77, 143, 243, 0.708333) 67.71%,
    rgba(64, 139, 255, 0) 100%
  );
}

.landing-btn {
  background: #0d6af6;
}

.historiCard {
  background: #ffffff;
  box-shadow: 4px 2px 4px #84b6ff;
  border-radius: 20px;
}

.light-blue {
  color: #b0c9ee;
}

.form-list {
  list-style: number !important;
}

.border-form {
  border-right: 1px dashed #003f9f;
}

.shadow-form {
  box-shadow: 4px 4px 4px #3577d7;
}

.upload-file {
  border: 2px dashed #626161;
  padding: 5%;
  margin: 0 auto;
}

.upload-btn {
  background: #0057dc;
  box-shadow: 4px 4px 4px #073985;
  border-radius: 15px;
}
